run = "npm run build && npm run start"
language = "nodejs"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "npm run start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"