run = "npm run build && npm run start"
language = "nodejs"
entrypoint = "server.js"

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "NODE_ENV=production HOSTNAME=0.0.0.0 PORT=3000 node server.js"]
build = ["sh", "-c", "npm install --production=false && npm run build"]
deploymentTarget = "gce"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"